/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
/config/stripe_configuration_keys.yml
# Ignore master key for decrypting credentials and more.
/config/master.key
