%h2 Recipes List
%h4 Search by ingredient:

= form_tag(recipes_path, method: :get) do
  = text_field_tag(:search, params[:search], placeholder: "Search")
  = submit_tag ("Submit")

- if @recipes.nil?
  %p Please search for ingredient
- else
  - @recipes.each do |recipe|
    %h2= recipe["title"]