.card-container
  .card.u-clearfix
    .card-body
    %h1 Let's Cook!
    %img.w-full{src: "https://magnolia.com/wp-content/uploads/2017/12/image4-1.png", alt: "No image to display"}
    %h2 Choose from a list of recipes based on what you already have at home.
    %h4 What's in your fridge?
    %p 
    = form_tag(recipes_path, method: :get) do
      = text_field_tag(:search, params[:search], placeholder: "Search")
      = submit_tag ("Submit")
    - if @recipes.nil?
      %p Please search for ingredient
    - elsif @recipes == 'error'
      %p There is no recipe with that ingredient
    - else
      - @recipes.each do |recipe|
        %h3.subtle
          = link_to recipe["title"], recipe_path(recipe['id'], title: recipe['title'])