.card-container
  .card.u-clearfix
    .card-body
    %h1.card-title= @recipe['title']
    %img.card-media{src: @recipe['image'], alt: "No image to display"}
    %p 
    .card-read Recipe
  
    - if @recipe['analyzedInstructions'] == []
      %span.card-description.subtle There is no intructions for this item
    - else
      - @recipe['analyzedInstructions'].each do |instruction|
        - instruction['steps'].each do |step|
          %li
            %span.card-description.subtle= step['step']
            %p
    = link_to 'Back', root_path
    %p 
    .card-shadow