%h1= @recipe['title']
%img{src: @recipe['image'], alt: "No image to display"}

- if @recipe['analyzedInstructions'] == []
  %p There is no intructions for this item
- else
  - @recipe['analyzedInstructions'].each do |instruction|
    - instruction['steps'].each do |step|
      %p= step['step']
= link_to 'Back', root_path

