/* Basic styling of webpage */
body {
  text-align: center;
  background-color: #96bae6;
}
/* Styling of links for Devise and future nav-bar */
.navbar-link {
  margin: 0.5rem;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color:#7892c2;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  padding:8px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
/* Styling of Devise forms */
.Div-devise{
  margin: 150px;
  border-radius: 3px;
  border:2px solid #4e6096;
  background-color: rgb(254, 250, 250);
}