h1 { 
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
  text-align: center; 
}
h2 { 
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center; 
}
h3 { 
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center; 
}
h4 { 
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center; 
}
p { 
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400; 
  text-align: center; 
}
form { 
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center; 
}
input#search { 
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px; 
}
input { 
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px; 
}
body {
  text-align: center;
}
.navbar-link {
  margin: 0.5rem;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color:#7892c2;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Lato', sans-serif;
  font-size:12px;
  padding:8px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
html {
  background: #FAF7F2;
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}
.u-clearfix:after {
  clear: both;
}
.u-clearfix {
  *zoom: 1;
}
.subtle {
  color: #aaa;
}
.card-container {
  margin: 25px auto 0;
  position: relative;
  width: 692px;
}
.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}
.card-body {
  display: inline-block;
  float: left;
  width: 310px;
}
.card-number {
  margin-top: 15px;
}
.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}
.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}
.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}
.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}
.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}
.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
}
.card-tag {
  float: right;
  margin: 5px 0 0;
}
.card-media {
  float: center;
  max-height: 400px;
  max-width: 400px;
  
}
.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}
li {
  counter-reset: item 5;
}